﻿@model OrderPlacement.Web.Models.MembersViewModel
@{
    ViewBag.Title = "MemberIndex";
}

<h2>A tagok kezelése</h2>
<p style="color:red; font-weight:bold">@TempData["editResult"]</p>
@Html.Partial("MemberEdit", Model.EditedMember)
@Html.Partial("MemberList", Model.ListofMembers)

