﻿@model IEnumerable<OrderPlacement.Web.Models.Member>

<h2>A tagok listája</h2>
@if (Model.Count() == 0)
{
    <p>Üres az adatbázis</p>
}
else
{
    <table border="1">
        <tr>
            <th align="center">Prefix</th>
            <th align="center">@Html.DisplayNameFor(m => m.FistName)</th>
            <th align="center">@Html.DisplayNameFor(m => m.LastName)</th>
            <th align="center">Datas</th>
            <th align="center">Remove</th>
            <th align="center">Edit</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td width="200" align="center">@Html.DisplayFor(m => item.Prefix)</td>
            <td width="200" align="center">@Html.DisplayFor(m => item.FistName)</td>
            <td width="200" align="center">@Html.DisplayFor(m => item.LastName)</td>
            <td width="200" align="center">@Html.ActionLink("[SHOW]", "Details", new { id = item.MemberId })</td>
            <td width="200" align="center">@Html.ActionLink("[DEL]", "Remove", new { id = item.MemberId })</td>
            <td width="200" align="center">@Html.ActionLink("[EDIT]", "Edit", new { id = item.MemberId })</td>
        </tr>
        }
    </table>
}

