﻿@model OrderPlacement.Web.Models.Member
@{
    ViewBag.Title = "MemberDetails";
}

<h2>MemberDetails</h2>
@Html.ActionLink("Vissza", "Index");
<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.MemberId)</td>
        <td>@Html.DisplayFor(m => m.MemberId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.AddressId)</td>
        <td>@Html.DisplayFor(m => m.AddressId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Prefix)</td>
        <td>@Html.DisplayFor(m => m.Prefix)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FistName)</td>
        <td>@Html.DisplayFor(m => m.FistName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.LastName)</td>
        <td>@Html.DisplayFor(m => m.LastName)</td>
    </tr>
</table>

