﻿@model OrderPlacement.Web.Models.Member

<h2>Hozzáadás/Felülírás</h2>

@using (Html.BeginForm("Edit", "Members"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MemberId)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.LastName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.LastName)</div> 

    <div class="editor-label">@Html.LabelFor(m => m.FistName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.FistName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Prefix)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Prefix)</div>

    <input type="submit" value="SEND" />
}
