﻿@model Calories.Models.CalorieResult
@{
    ViewBag.Title = "CalorieResult";
}

<h2>Eredmények</h2>

<p>Az eredmények!</p>
<p>Sportoló Neve: @Model.OriginalName</p>
<p>Sportoló Súlya: @Model.OriginalWeight</p>
<p>Mozgott idő (percben): @Model.OriginalMinutes</p>
<p>Égetett kalóriák: @Model.BurnedCalories</p>

