﻿@{
    ViewBag.Title = "CalorieInput";
}

<h2>Add meg az adatokat!</h2>


<form method="post" action="/Calorie/Burn">
    <p>Sportoló Neve <input type="text" name="Name" /></p>
    <p>Sportoló Súlya <input type="text" name="Weight" /></p>
    <p>Edzés típusa
    <select name="Exercise">
        <option value="Running">Futás</option>
        <option value="Yoga">Yoga</option>
        <option value="Pilates">Pilátesz</option>
        <option value="Hiking">Túrázás</option>
        <option value="Swimming">Úszás</option>
        <option value="Bicycle">Kerékpározás</option>
    </select></p>
    <p>Gyakorlat hossza (percben)<input type="text" name="Minutes" /></p>
    <input type="submit" value="Küldés" />
</form>
